@model IEnumerable<DataAccess.Data.Models.Notice>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("SidebarCategoryMenu", new { maxPriority = 2, isDone = false })
    </div>
    <div class="col-md-9">
        <h2>Объявления</h2>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-12">
                    <h4>@item.Subject</h4>
                    <p>@item.Category.CategoryName</p>
                    <p>@item.CreatedAt.ToString("dd.MM.yyyy HH:mm")</p>
                </div>
            </div>
        }
    </div>
