@model IEnumerable<DataAccess.Data.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Категории</h2>

<p>
    <a asp-action="Create">Новая категория</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Категории объявлений
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.CategoryName)</a>
</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |                
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
